<a href="https://colab.research.google.com/github/henriquevieira/analise_sentimento/blob/main/analise_sentimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.kaggle.com/luisfredgs/imdb-ptbr

In [82]:
import pandas as pd

import multiprocessing

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer

from sklearn.ensemble import RandomForestClassifier

Carregando os dados

In [47]:
imdb_reviews_pt_br1 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br1.csv', encoding = 'UTF8', engine='python')
imdb_reviews_pt_br2 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br2.csv', encoding = 'UTF8', engine='python')
imdb_reviews_pt_br3 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br3.csv', encoding = 'UTF8', engine='python')
imdb_reviews_pt_br4 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br4.csv', encoding = 'UTF8', engine='python')
imdb_reviews_pt_br5 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br5.csv', encoding = 'UTF8', engine='python')
imdb_reviews_pt_br6 = pd.read_csv('https://raw.githubusercontent.com/henriquevieira/analise_sentimento/main/dados/imdb-reviews-pt-br6.csv', encoding = 'UTF8', engine='python')

In [48]:
imdb_reviews_pt_br = pd.concat([imdb_reviews_pt_br1, imdb_reviews_pt_br2, 
                                imdb_reviews_pt_br3, imdb_reviews_pt_br4,
                                imdb_reviews_pt_br5, imdb_reviews_pt_br6])
imdb_reviews_pt_br = imdb_reviews_pt_br.drop('Unnamed: 0', axis = 1)
imdb_reviews_pt_br.shape

(49459, 4)

In [49]:
imdb_reviews_pt_br.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [50]:
imdb_reviews_pt_br['target'] = imdb_reviews_pt_br.sentiment.apply(lambda x : 1 if x == 'pos' else 0)
imdb_reviews_pt_br.head()

   id                                            text_en  ... sentiment target
0   1  Once again Mr. Costner has dragged out a movie...  ...       neg      0
1   2  This is an example of why the majority of acti...  ...       neg      0
2   3  First of all I hate those moronic rappers, who...  ...       neg      0
3   4  Not even the Beatles could write songs everyon...  ...       neg      0
4   5  Brass pictures movies is not a fitting word fo...  ...       neg      0

[5 rows x 5 columns]

Separar em X e y

In [51]:
X = imdb_reviews_pt_br[['text_pt']]
y = imdb_reviews_pt_br[['target']]

In [71]:
vec = CountVectorizer(lowercase=False, max_features=100)
count_vectorizer = vec.fit_transform(X.text_pt)

In [72]:
bag_of_words = pd.DataFrame.sparse.from_spmatrix(count_vectorizer, columns=vec.get_feature_names_out())
bag_of_words.shape

(49459, 100)

Separar os dados em treino, teste e validação

In [73]:
# validacao
X, X_val, y, y_val = train_test_split(bag_of_words, y, random_state=10, shuffle=True, test_size=0.15)
print(X.shape)
print(X_val.shape)

(42040, 100)
(7419, 100)

In [74]:
# Treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10, shuffle=True, test_size=0.2)
print(X_train.shape)
print(X_test.shape)

(33632, 100)
(8408, 100)

Modelo Random Forest

In [84]:
rf = RandomForestClassifier(n_jobs=multiprocessing.cpu_count(), random_state=10)

In [85]:
rf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(n_jobs=2, random_state=10)

In [86]:
rf.score(X_test, y_test)

0.676617507136061